In [2]:
from constants import *

In [3]:
p_valuation = read_csv("player_valuations.csv")

In [4]:
p_valuation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440663 entries, 0 to 440662
Data columns (total 9 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   player_id                            440663 non-null  int64
 1   last_season                          440663 non-null  int64
 2   datetime                             440663 non-null  object
 3   date                                 440663 non-null  object
 4   dateweek                             440663 non-null  object
 5   market_value_in_eur                  440663 non-null  int64
 6   n                                    440663 non-null  int64
 7   current_club_id                      440663 non-null  int64
 8   player_club_domestic_competition_id  440663 non-null  object
dtypes: int64(5), object(4)
memory usage: 30.3+ MB

In [5]:
p_valuation.head()

,player_id,last_season,datetime,date,dateweek,market_value_in_eur,n,current_club_id,player_club_domestic_competition_id
0,3132,2013,2003-12-09 00:00:00,2003-12-09,2003-12-08,400000,1,126,TR1
1,6893,2012,2003-12-15 00:00:00,2003-12-15,2003-12-15,900000,1,984,GB1
2,10,2015,2004-10-04 00:00:00,2004-10-04,2004-10-04,7000000,1,398,IT1
3,26,2017,2004-10-04 00:00:00,2004-10-04,2004-10-04,1500000,1,16,L1
4,65,2015,2004-10-04 00:00:00,2004-10-04,2004-10-04,8000000,1,1091,GR1

In [6]:
null_columns(p_valuation)

[]

In [7]:
set(p_valuation['n'])

{1}

# removing useless column
`n` column is useless as it's always equal to 1 in this dataset and since i cannot give it some meanings I will not use it in my app

In [8]:
p_valuation.drop('n' , axis=1 , inplace=True)

In [11]:
p_valuation.to_csv(DATA_FOLDER + "new_player_valuations.csv" , index=False)