In [44]:
from constants import *
game_events = read_csv('game_events.csv')

/Users/francescobassignana/Desktop/unito/terzo_anno/TWEB/progetto_TWEB/solution/data_cleaning/constants.py:13: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  read_csv = lambda file_name: pd.read_csv(DATA_FOLDER + file_name)

In [26]:
game_events.head()

,game_event_id,date,game_id,minute,type,club_id,player_id,description,player_in_id,player_assist_id
0,5d6d9533023057b6619ecd145a038bbe,2012-08-05,2211607,74,Substitutions,383,36500,", Not reported",49499.0,NaN
1,f0dfb41b779ad8efbd5acbd0aeedff11,2012-08-05,2211607,76,Substitutions,610,52246,", Not reported",182932.0,NaN
2,e67340caefbf1cbe1be393d3d61448e1,2012-08-05,2211607,84,Substitutions,383,72462,", Not reported",167850.0,NaN
3,ac69368250666fd5e9d142f53f1e539f,2012-08-05,2211607,65,Substitutions,610,95755,", Not reported",34784.0,NaN
4,584282a7024a5a6da90cbb20317111ff,2012-08-05,2211607,76,Substitutions,610,187245,", Not reported",111184.0,NaN

In [45]:
game_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355471 entries, 0 to 355470
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   game_event_id     355471 non-null  object
 1   date              355471 non-null  object
 2   game_id           355471 non-null  int64
 3   minute            355471 non-null  int64
 4   type              355471 non-null  object
 5   club_id           355471 non-null  int64
 6   player_id         355471 non-null  int64
 7   description       70231 non-null   object
 8   player_in_id      355471 non-null  float64
 9   player_assist_id  0 non-null       float64
dtypes: float64(2), int64(4), object(4)
memory usage: 27.1+ MB

In [4]:
set(game_events['type'])

{'Cards', 'Goals', 'Shootout', 'Substitutions'}

# Seems to be ok
This dataset is ok, it should be the information about the events during the games. It's supposed to have high change rate

In [5]:
null_columns(game_events)

['description', 'player_in_id', 'player_assist_id']

# Problem with foreign keys

In [34]:
game_events = read_csv("game_events.csv")
games = read_csv("new_games.csv")

# Ottieni le chiavi primarie e le chiavi esterne come insiemi di valori univoci
p_keys = set(games['game_id'])
f_keys = set(game_events['game_id'])

# Trova le chiavi esterne che non hanno corrispondenze nella chiave primaria
invalid_f_keys = f_keys - p_keys
print(len(invalid_f_keys) >= 1)
# Filtra le righe della tabella delle 'game_events' che hanno chiavi esterne non valide
apparences_filtered = game_events[~game_events['game_id'].isin(invalid_f_keys)]

# Ora 'apparences_filtered' contiene solo i record con chiavi esterne valide
# Puoi utilizzarlo per le tue operazioni successive o esportarlo in un nuovo file CSV se necessario
apparences_filtered.to_csv(DATA_FOLDER + 'game_events.csv', index=False)

False

In [35]:
game_events = read_csv("game_events.csv")
players = read_csv("new_players.csv")

# Ottieni le chiavi primarie e le chiavi esterne come insiemi di valori univoci
p_keys = set(players['player_id'])
f_keys = set(game_events['player_id'])

# Trova le chiavi esterne che non hanno corrispondenze nella chiave primaria
invalid_f_keys = f_keys - p_keys
print(len(invalid_f_keys) >= 1)
# Filtra le righe della tabella delle 'game_events' che hanno chiavi esterne non valide
apparences_filtered = game_events[~game_events['player_id'].isin(invalid_f_keys)]

# Ora 'apparences_filtered' contiene solo i record con chiavi esterne valide
# Puoi utilizzarlo per le tue operazioni successive o esportarlo in un nuovo file CSV se necessario
apparences_filtered.to_csv(DATA_FOLDER + 'game_events.csv', index=False)

True

In [43]:
game_events = read_csv("game_events.csv")
players = read_csv("new_players.csv")

# Ottieni le chiavi primarie e le chiavi esterne come insiemi di valori univoci
p_keys = set(players['player_id'])
f_keys = set(game_events['player_in_id'][game_events['player_in_id'] != None])



# Trova le chiavi esterne che non hanno corrispondenze nella chiave primaria
invalid_f_keys = f_keys - p_keys
print(len(invalid_f_keys) >= 1)
if not len(invalid_f_keys) ==0:
    # Filtra le righe della tabella delle 'game_events' che hanno chiavi esterne non valide
    apparences_filtered = game_events[~game_events['player_in_id'].isin(invalid_f_keys)]

    # Ora 'apparences_filtered' contiene solo i record con chiavi esterne valide
    # Puoi utilizzarlo per le tue operazioni successive o esportarlo in un nuovo file CSV se necessario
    apparences_filtered.to_csv(DATA_FOLDER + 'game_events.csv', index=False)
else:
    print("nessun valore non valido")

True

In [40]:
game_events = read_csv("game_events.csv")
players = read_csv("new_players.csv")

game_events.merge(players, left_on='player_in_id', right_on='player_id', how='inner').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355471 entries, 0 to 355470
Data columns (total 30 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   game_event_id                355471 non-null  object
 1   date                         355471 non-null  object
 2   game_id                      355471 non-null  int64
 3   minute                       355471 non-null  int64
 4   type                         355471 non-null  object
 5   club_id                      355471 non-null  int64
 6   player_id_x                  355471 non-null  int64
 7   description                  70231 non-null   object
 8   player_in_id                 355471 non-null  float64
 9   player_assist_id             0 non-null       float64
 10  player_id_y                  355471 non-null  int64
 11  first_name                   328044 non-null  object
 12  last_name                    355471 non-null  object
 13  last_season                  355471 non-null  int64
 14  current_club_id              355471 non-null  int64
 15  player_code                  355471 non-null  object
 16  country_of_birth             340766 non-null  object
 17  city_of_birth                348386 non-null  object
 18  country_of_citizenship       347751 non-null  object
 19  date_of_birth                355249 non-null  object
 20  sub_position                 354918 non-null  object
 21  position                     355471 non-null  object
 22  foot                         348655 non-null  object
 23  height_in_cm                 350547 non-null  float64
 24  market_value_in_eur          281440 non-null  float64
 25  highest_market_value_in_eur  354909 non-null  float64
 26  contract_expiration_date     257085 non-null  object
 27  agent_name                   215480 non-null  object
 28  image_url                    355471 non-null  object
 29  url                          355471 non-null  object
dtypes: float64(5), int64(7), object(18)
memory usage: 81.4+ MB