# Usefulness club_game dataset
Hanging around in the club_game and games datasets, it seemed that the two contents were too similar. 
So in the lines below I tried to find out if there is any usefulness in keeping both datasets.

In [55]:
import pandas as pd
import numpy as np
# Show the first linesing csv("../datasets/club_games.csv")
games = pd.read_csv("../datasets/games.csv")
club_games = pd.read_csv("../datasets/club_games.csv")

# Showing the first lines...

In [46]:
games.head()

,game_id,competition_id,season,round,date,home_club_id,away_club_id,home_club_goals,away_club_goals,home_club_position,...,stadium,attendance,referee,url,home_club_formation,away_club_formation,home_club_name,away_club_name,aggregate,competition_type
0,2222597,RU1,2012,6. Matchday,2012-08-25,3725,232,2,1,2.0,...,Akhmat-Arena,21700.0,Vladislav Bezborodov,https://www.transfermarkt.co.uk/terek-grozny_s...,NaN,NaN,RFK Akhmat Grozny,FK Spartak Moskva,2:1,domestic_league
1,2222627,RU1,2012,5. Matchday,2012-08-20,2696,4128,0,2,11.0,...,Metallurg,11400.0,Sergey Ivanov,https://www.transfermarkt.co.uk/krylya-sovetov...,NaN,NaN,PFK Krylya Sovetov Samara,Amkar Perm,0:2,domestic_league
2,2222658,RU1,2012,10. Matchday,2012-09-30,2410,121,0,2,2.0,...,Arena Khimki,12000.0,Sergey Karasev,https://www.transfermarkt.co.uk/cska-moscow_di...,NaN,NaN,PFK CSKA Moskva,FK Dinamo Moskva,0:2,domestic_league
3,2222664,RU1,2012,8. Matchday,2012-09-15,932,2698,1,0,5.0,...,RZD Arena,11408.0,Sergey Karasev,https://www.transfermarkt.co.uk/lokomotiv-mosc...,NaN,NaN,"Футбольный клуб ""Локомотив"" Москва",FC Rubin Kazan,1:0,domestic_league
4,2222683,RU1,2012,12. Matchday,2012-10-22,2696,12438,0,1,11.0,...,Metallurg,7534.0,Timur Arslanbekov,https://www.transfermarkt.co.uk/krylya-sovetov...,NaN,NaN,PFK Krylya Sovetov Samara,Volga Nizhniy Novgorod (- 2016),0:1,domestic_league

In [4]:
game_clubs.head()

,game_id,club_id,own_goals,own_position,own_manager_name,opponent_id,opponent_goals,opponent_position,opponent_manager_name,hosting,is_win
0,2221751,431,1,NaN,Lutz Göttling,60,2,NaN,Christian Streich,Home,0
1,2221755,83,3,NaN,Ralph Hasenhüttl,4795,0,NaN,Tomas Oral,Home,1
2,2222597,3725,2,2.0,Stanislav Cherchesov,232,1,5.0,Unai Emery,Home,1
3,2222627,2696,0,11.0,Andrey Kobelev,4128,2,10.0,Rustem Khuzin,Home,0
4,2222658,2410,0,2.0,Leonid Slutski,121,2,13.0,Dan Petrescu,Home,0

# Showing the columns
This part is important in order to notice that the purpose of all the game_clubs columns is the same as some of the games columns.

In [52]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65216 entries, 0 to 65215
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 65216 non-null  int64
 1   competition_id          65216 non-null  object
 2   season                  65216 non-null  int64
 3   round                   65216 non-null  object
 4   date                    65216 non-null  object
 5   home_club_id            65216 non-null  int64
 6   away_club_id            65216 non-null  int64
 7   home_club_goals         65216 non-null  int64
 8   away_club_goals         65216 non-null  int64
 9   home_club_position      45762 non-null  float64
 10  away_club_position      45762 non-null  float64
 11  home_club_manager_name  64474 non-null  object
 12  away_club_manager_name  64474 non-null  object
 13  stadium                 65005 non-null  object
 14  attendance              55704 non-null  float64
 15  referee                 64622 non-null  object
 16  url                     65216 non-null  object
 17  home_club_formation     2869 non-null   object
 18  away_club_formation     2888 non-null   object
 19  home_club_name          53964 non-null  object
 20  away_club_name          55167 non-null  object
 21  aggregate               65216 non-null  object
 22  competition_type        65216 non-null  object
dtypes: float64(3), int64(6), object(14)
memory usage: 11.4+ MB

In [6]:
game_clubs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130432 entries, 0 to 130431
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   game_id                130432 non-null  int64
 1   club_id                130432 non-null  int64
 2   own_goals              130432 non-null  int64
 3   own_position           91524 non-null   float64
 4   own_manager_name       128948 non-null  object
 5   opponent_id            130432 non-null  int64
 6   opponent_goals         130432 non-null  int64
 7   opponent_position      91524 non-null   float64
 8   opponent_manager_name  128948 non-null  object
 9   hosting                130432 non-null  object
 10  is_win                 130432 non-null  int64
dtypes: float64(2), int64(6), object(3)
memory usage: 10.9+ MB

# Mapping "same-purpose" columns

In [56]:
club_games_to_game = {
    'game_id' : 'game_id',
    'club_id' : 'home_club_id',
    'own_goals' : 'home_club_goals',
    'own_position' : 'home_club_position',
    'own_manager_name' : 'home_club_manager_name',
    'opponent_id' : 'away_club_id',
    'opponent_goals' : 'away_club_goals',
    'opponent_position' : 'away_club_position',
    'opponent_manager_name' : 'away_club_manager_name',
    'hosting' : 'stadium'
}

# Removing useless columns in games
This part help me to know wich informations that are present in `club_games` are also present in `games` dataset and which are not.

In [59]:
games_keys = np.copy(games.keys())
club_games_keys = np.copy(club_games.keys())
dict_keys = club_games_to_game.keys()

#mask for club_games_keys, if key is in dict_keys' keys , then we don't keep it
mask = np.array([key in dict_keys for key in club_games_keys])
club_games_keys = club_games_keys[~mask]

print("remaining keys:")
print(club_games_keys)

remaining keys:
['is_win']

is_win if easily to get with the information about the goals in games dataset, so it is also redoundant

# Verify the content is the same

In [68]:
res = games.merge(club_games , on='game_id', how='inner')[['club_id','opponent_id', 'home_club_id', 'away_club_id']]

        club_id  opponent_id  home_club_id  away_club_id
0          3725          232          3725           232
1           232         3725          3725           232
2          2696         4128          2696          4128
3          4128         2696          2696          4128
4          2410          121          2410           121
...         ...          ...           ...           ...
130427      713          383           383           713
130428      512         1194           512          1194
130429     1194          512           512          1194
130430      512         3684           512          3684
130431     3684          512           512          3684

[130432 rows x 4 columns]

## Observation:
How it can be seen the information in club_games about the teams playing each other is doubled.
Referring to the same home club and the same away_club, it register the game two times: 
one where the opponent is the home club, the other where the opponent is the away club.
## Pseudo-demonstration:
- Condition 1: length of games dataset is same of the quantity of singulars information about games played in club_games dataset
- Condition 2: length of games is half of the length of length of club_games (to show the deprecated space)
- Condition 3: to show that the information about the games is doubled in club_games dataset we put togheter the info from club_games and games datasets with the game_id as a jointures and we see if the length of what we expect to be the doubled information is effectively doubled

In [74]:
len_query = len(res.query('home_club_id == club_id & away_club_id == opponent_id'))
len_join = len(res)
len_club_games=len(club_games)
len_games=(len(games))

condition1 = len_query == len_games
condition2 = len_games == len_club_games/2
condition3 = len_join == len_games*2
print( condition1 and condition2 and condition3 )

True

## Considerations
I will not use the club_games dataset in this project because it deprecate space for no advantage